[user]
	name = Csaba Palfi
	email = csaba@palfi.me
[github]
	user = csabapalfi
[color]
	ui = auto
[hub]
	protocol = https
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = /Users/csabapalfi/.gitignore_global
