# OSX
Applications
Downloads
Documents
Library
Movies
Music
Pictures
Public
RemoteManagement
.Trash
.CFUserTextEncoding
.DS_Store

# security
.openvpn-connect.json
.netrc
.boto
.ssh
.keys
.password-store
.gnupg
.cache/keybase
.config/keybase
.local/share/keybase
.aws/credentials

# shell/history
.zcompdump*
.zhistory
.zsh_history
.bash_history
.rediscli_history
.dbshell
.viminfo
.lesshst
.zsh-update
.config/hub

# js
.node-gyp
.npm
.npmrc
.nvm
.pm2
.cache/bower
.local/share/bower
.config/browserify
.config/configstore

# jvm/java
.ivy2
.m2
.idea
.gradle
.android
.lein
.zinc

# vms/docker
.boot2docker
.dockercfg
.vagrant.d
VirtualBox VMs
.wireshark/recent*
.ansible

# other
Dropbox
.dropbox
.vegas/genghisapp
.pip
.erlang.cookie
.Xauthority
.dir
.lolcommits
.heroku
.gem
.bundler
.cups
.dvdcss
.vim
.cache/fontconfig
.config/git
.config/hub
.config/robomongo
archive
wiki
.atom/.apm

# work in progress
csaba.palfi.me
tes
nodeschool
brainly
aws-stacks
.config/bug-clinic
