[user]
	name = Csaba Palfi
	email = csaba@palfi.me
[github]
	user = csabapalfi
[color]
	ui = auto
[hub]
	protocol = https
[push]
	default = matching
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/csabapalfi/.gitignore_global
