# OSX
Applications
Downloads
Documents
Library
Movies
Music
Pictures
Public
RemoteManagement
.Trash
.CFUserTextEncoding
.DS_Store

# security
.netrc
.boto
.ssh
.keys
.password-store
.gnupg
.cache/keybase
.config/keybase
.local/share/keybase
.aws/credentials
keys.sh

# shell/history
.zcompdump*
.zhistory
.zsh_history
.bash_history
.rediscli_history
.dbshell
.viminfo
.lesshst
.zsh-update
.config/hub

# js
.node-gyp
.npm
.npmrc
.pm2
.cache/bower
.local/share/bower
.config/browserify
.config/configstore

# jvm/java
.IntelliJIdea14
.m2
.idea
.gradle
.android

# vms/docker
.dockercfg
.vagrant.d
VirtualBox VMs
.wireshark/recent*
.ansible
.docker/machine
.terraform.d

# other
Dropbox
Google Drive
.dropbox
.pip
.erlang.cookie
.Xauthority
.dir
.lolcommits
.heroku
.gem
.bundler
.cups
.dvdcss
.vim
.cache/fontconfig
.config/git
.config/hub
.config/robomongo
.atom/.apm

# work
go
csaba.palfi.me
palfi.co.uk
go-by-example
