# OSX
Applications
Downloads
Documents
Library
Movies
Music
Pictures
.Trash
.CFUserTextEncoding
.DS_Store

# security
.ssh
.gnupg
.cache/keybase
.config/keybase
.local/share/keybase
.aws/credentials
.config/hub
.netrc

# shell/history
.bash_history
.bash_sessions
.viminfo
.lesshst

# js
.node-gyp
.npm
.npm-packages
.nvm
.npmrc
.config/configstore
.config/sinopia
.node_repl_history
.greenkeeperrc
.babel.json
npm-debug.log
.v8flags.*

# devops
.dockercfg
.vagrant.d
.wireshark
.ansible
.docker/machine
.terraform.d
.local/share/heroku

# other
Dropbox
.dropbox
Google Drive
.pip
.erlang.cookie
.Xauthority
.gem
.bundler
.cups
.heroku
.vim
.cache/fontconfig
.config/git
.config/hub
.atom/.apm
.atom/blob-store
.electron
.htoprc
go
.ipfs
.cache
.rbenv
.subversion
.oracle_jre_usage
.rnd
VirtualBox VMs
.adobe/discover

# trainline
.anyconnect
.account
.cisco
trainline*

# wip
csabapalfi.github.io/
bankmail/
to-backup/
react-course/
